<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="cells-luism-dashboard-styles.html">
<link rel="import" href="bower_components/cells-mocks-component/cells-mocks-component.html">
<dom-module id="cells-luism-dashboard">
  <script src="cells-luism-dashboard.js"></script>
</dom-module>