<dom-module id="cells-luism-dashboard-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-luism-dashboard; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

.img {
  display: block;
  border-radius: 100%;
  margin: auto;
  border: 2px solid #333;
  text-align: center; }

#txt_text {
  width: 95%;
  height: "20px;";
  padding: 10px;
  margin: 10px 10px 3px 10px;
  border-radius: .5rem;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif; }

#cardUno {
  background: lightgray;
  border-radius: .5rem;
  margin: 10px; }

.card {
  background: lightgray;
  text-align: center;
  border-radius: .5rem;
  margin: 10px; }

</style></template></dom-module>