@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --luism-dashboard;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit;
}

.img{
  display: block;
  border-radius: 100%;
  margin: auto;
  border: 2px solid #333 ;
  text-align: center;
}

#txt_text {
  width: 95%;
  height:"20px;";
  padding: 10px;
  margin: 10px 10px 3px 10px;
  border-radius: .5rem;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

#primerCard{
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

#segundoCard{
  background-color: lightgray;
  text-align: center;
}
